# Ignore .env files
.env
.env.*

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
ENV/
env/
env.bak/
venv.bak/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so
*.manifest
*.spec

# Ignore coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/